
.vs/TroveInternal/v17/.suo
.vs/TroveInternal/v17/fileList.bin
.vs/TroveInternal/v17/Preview/Browse.VC.db
.vs/TroveInternal/v17/Preview/Browse.VC.db-shm
.vs/TroveInternal/v17/Preview/Browse.VC.db-wal
.vs/TroveInternal/v17/Preview/Browse.VC.opendb
.vs/TroveInternal/v17/Preview/ipch/23fe0ae42ceb28e0.ipch
.vs/TroveInternal/v17/Preview/ipch/AutoPCH/3baa4a59b1bdefff/DETOUR_HOOK.ipch
.vs/TroveInternal/v17/Preview/Solution.VC.db
.vs/TroveInternal/v17/Preview/Solution.VC.db-shm
.vs/TroveInternal/v17/Preview/Solution.VC.db-wal
