
.vs/TroveInternal/v17/.suo
.vs/TroveInternal/v17/fileList.bin
.vs/TroveInternal/v17/Preview/Browse.VC.db
.vs/TroveInternal/v17/Preview/Browse.VC.db-shm
.vs/TroveInternal/v17/Preview/Browse.VC.db-wal
.vs/TroveInternal/v17/Preview/Browse.VC.opendb
.vs/TroveInternal/v17/Preview/ipch/23fe0ae42ceb28e0.ipch
.vs/TroveInternal/v17/Preview/ipch/AutoPCH/3baa4a59b1bdefff/DETOUR_HOOK.ipch
.vs/TroveInternal/v17/Preview/Solution.VC.db
.vs/TroveInternal/v17/Preview/Solution.VC.db-shm
.vs/TroveInternal/v17/Preview/Solution.VC.db-wal
.vs/TroveInternal/v17/Preview/ipch/AutoPCH/5d00a99b9094ee33/POINTERS.ipch
.vs/TroveInternal/v17/Preview/ipch/AutoPCH/902c7ccce38227dc/HOOKING.ipch
Release/fmtlib.lib
Release/fmtlib.pdb
Release/g3log.lib
Release/g3log.pdb
Release/ImGui.lib
Release/ImGui.pdb
Release/MinHook.lib
Release/MinHook.pdb
Release/TroveInternal.dll
Release/TroveInternal.pdb
TroveInternal/Release/detour_hook.obj
TroveInternal/Release/dllmain.obj
TroveInternal/Release/gui.obj
TroveInternal/Release/hooking.obj
TroveInternal/Release/module.obj
TroveInternal/Release/pattern.obj
TroveInternal/Release/pattern_batch.obj
TroveInternal/Release/pch.obj
TroveInternal/Release/pointers.obj
TroveInternal/Release/range.obj
TroveInternal/Release/renderer.obj
TroveInternal/Release/TroveInternal.dll.recipe
TroveInternal/Release/TroveInternal.iobj
TroveInternal/Release/TroveInternal.ipdb
TroveInternal/Release/TroveInternal.log
TroveInternal/Release/TroveInternal.pch
TroveInternal/Release/TroveInternal.tlog/CL.command.1.tlog
TroveInternal/Release/TroveInternal.tlog/CL.read.1.tlog
TroveInternal/Release/TroveInternal.tlog/CL.write.1.tlog
TroveInternal/Release/TroveInternal.tlog/link.command.1.tlog
TroveInternal/Release/TroveInternal.tlog/link.read.1.tlog
TroveInternal/Release/TroveInternal.tlog/link.write.1.tlog
TroveInternal/Release/TroveInternal.tlog/TroveInternal.lastbuildstate
TroveInternal/Release/vc143.pdb
TroveInternal/Release/vmt_hook.obj
vendor/fmtlib/Release/fmtlib.lib.recipe
vendor/fmtlib/Release/fmtlib.log
vendor/fmtlib/Release/fmtlib.tlog/CL.command.1.tlog
vendor/fmtlib/Release/fmtlib.tlog/CL.read.1.tlog
vendor/fmtlib/Release/fmtlib.tlog/CL.write.1.tlog
vendor/fmtlib/Release/fmtlib.tlog/fmtlib.lastbuildstate
vendor/fmtlib/Release/fmtlib.tlog/Lib-link.read.1.tlog
vendor/fmtlib/Release/fmtlib.tlog/Lib-link.write.1.tlog
vendor/fmtlib/Release/fmtlib.tlog/Lib.command.1.tlog
vendor/fmtlib/Release/format.obj
vendor/fmtlib/Release/os.obj
vendor/g3log/Release/crashhandler_windows.obj
vendor/g3log/Release/filesink.obj
vendor/g3log/Release/g3log.lib.recipe
vendor/g3log/Release/g3log.log
vendor/g3log/Release/g3log.obj
vendor/g3log/Release/g3log.tlog/CL.command.1.tlog
vendor/g3log/Release/g3log.tlog/CL.read.1.tlog
vendor/g3log/Release/g3log.tlog/CL.write.1.tlog
vendor/g3log/Release/g3log.tlog/g3log.lastbuildstate
vendor/g3log/Release/g3log.tlog/Lib-link.read.1.tlog
vendor/g3log/Release/g3log.tlog/Lib-link.write.1.tlog
vendor/g3log/Release/g3log.tlog/Lib.command.1.tlog
vendor/g3log/Release/logcapture.obj
vendor/g3log/Release/loglevels.obj
vendor/g3log/Release/logmessage.obj
vendor/g3log/Release/logworker.obj
vendor/g3log/Release/stacktrace_windows.obj
vendor/g3log/Release/time.obj
vendor/ImGui/Release/ImGui.lib.recipe
vendor/ImGui/Release/ImGui.tlog/CL.command.1.tlog
vendor/ImGui/Release/ImGui.tlog/CL.read.1.tlog
vendor/ImGui/Release/ImGui.tlog/CL.write.1.tlog
vendor/ImGui/Release/ImGui.tlog/ImGui.lastbuildstate
vendor/ImGui/Release/ImGui.tlog/Lib-link.read.1.tlog
vendor/ImGui/Release/ImGui.tlog/Lib-link.write.1.tlog
vendor/ImGui/Release/ImGui.tlog/Lib.command.1.tlog
.vs/TroveInternal/v17/Preview/ipch/4f901d100bbc9e2f.ipch
.vs/TroveInternal/v17/Preview/ipch/AutoPCH/109353d95fa6beb4/PATTERN.ipch
.vs/TroveInternal/v17/Preview/ipch/AutoPCH/568a8b04cf9deadf/PATTERN_BATCH.ipch
.vs/TroveInternal/v17/Preview/ipch/AutoPCH/700638604055c1b0/MODULE.ipch
.vs/TroveInternal/v17/Preview/ipch/AutoPCH/a639f8afbc513d8b/RANGE.ipch
.vs/TroveInternal/v17/Preview/ipch/AutoPCH/d58dd38eaf184c32/VMT_HOOK.ipch
